<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

<style>
    a .fas.fa-user-edit {
        margin: 0px 12px;
    }
</style>


<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Giầy D</li>

            <li class="@Html.IsSelected(controller: "Dashboard")  treeview">
                <a href="#">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: "Dashboard", action: "Dashboardv1")"><a href="@lte.MVC.Pages.Dashboard.dashboard"><i class="fa fa-bar-chart"></i> Thống kê </a></li>
                </ul>
            </li>


            @*<li class="@Html.IsSelected(controller: "group_role") treeview">
                <a href="#">
                    <i class="fas fa-user-alt"></i> <span>&nbsp;&nbsp;&nbsp;&nbsp;Quản Lý Nhân Sự</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li class="@Html.IsSelected(controller: "Home") treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> <span>Nhóm quyền</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(controller: "group_role", action: "Index")"><a href="@lte.MVC.Pages.GroupRole.Index"><i class="fa fa-circle-o"></i> Danh sách</a></li>

                        </ul>
                    </li>

                    <li class="@Html.IsSelected(controller: "Departments") treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> <span>Phòng ban</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(controller: "Departments", action: "Index")"><a href="@lte.MVC.Pages.Department.Index"><i class="fa fa-circle-o"></i> Danh sách</a></li>
                        </ul>
                    </li>

                    <li class="@Html.IsSelected(controller: "Positions") treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> <span>Chức vụ</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(controller: "Positions", action: "Index")"><a href="@lte.MVC.Pages.Position.Index"><i class="fa fa-circle-o"></i> Danh sách</a></li>
                        </ul>
                    </li>

                    <li class="@Html.IsSelected(controller: "Staffs") treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> <span>Nhân sự</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@Html.IsSelected(controller: "Staffs", action: "Index")"><a href="@lte.MVC.Pages.Staff.Index"><i class="fa fa-circle-o"></i> Danh sách</a></li>
                        </ul> 
                    </li>
                </ul>

            </li>*@

            <li class="@Html.IsSelected(controller: "/Areas/TTNhom_QLThuVien/Controllers/Home") treeview">
                <a href="#">
                    <i class="fas fa-book"></i>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;Quản Lý Cái Gì Đó</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: "Home", action: "Index")"><a href="@lte.MVC.Pages.QLTV.Home"><i class="fa fa-hand-o-right"></i> Giới thiệu </a></li>
                    <li class="@Html.IsSelected(controller: "WorkingSchedule", action: "Index")"><a href="@lte.MVC.Pages.QLTV.WorkingSchedule"><i class="fa fa-hand-o-right"></i> Lịch công tác</a></li>
                    <li class="@Html.IsSelected(controller: "BorrowGiveBack", action: "Index")"><a href="@lte.MVC.Pages.QLTV.BorrowGiveBack"><i class="fa fa-hand-o-right"></i> Mượn - Trả</a></li>
                    <li class="@Html.IsSelected(controller: "Book", action: "Index")"><a href="@lte.MVC.Pages.QLTV.Book"><i class="fa fa-hand-o-right"></i> Kho sách</a></li>
                    @*<li class="@Html.IsSelected(controller: "Author", action: "Index")"><a href="@lte.MVC.Pages.QLTV.Author"><i class="fa fa-hand-o-right"></i> Tác giả</a></li>*@
                    <li class="@Html.IsSelected(controller: "PublishingCompany", action: "Index")"><a href="@lte.MVC.Pages.QLTV.PublishingCompany"><i class="fa fa-hand-o-right"></i> Nhà xuất bản</a></li>
                    <li class="@Html.IsSelected(controller: "Category", action: "Index")"><a href="@lte.MVC.Pages.QLTV.Category"><i class="fa fa-hand-o-right"></i> Thể loại</a></li>
                    <li class="@Html.IsSelected(controller: "Readers", action: "Index")"><a href="@lte.MVC.Pages.QLTV.Readers"><i class="fa fa-hand-o-right"></i> Độc giả</a></li>
                    <li class="@Html.IsSelected(controller: "Rules", action: "Index")"><a href="@lte.MVC.Pages.QLTV.Rules"><i class="fa fa-hand-o-right"></i> Nội quy - Xử lý</a></li>
                    <li><a href="http://mta.edu.vn" target="_blank"><i class="fa fa-hand-o-right"></i> Cổng thống tin điện tử</a></li>
                </ul>
            </li>
            @*<li class="@Html.IsSelected(controller: "/Areas/TTNhom_QLKS/Controllers/Home") treeview">
                <a href="#">
                    <i class="fas fa-hotel"></i><span>&nbsp;&nbsp;&nbsp;&nbsp;Quản Lý Khách Sạn</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: "Home", action: "Index")"><a href="@lte.MVC.Pages.QLKS.Home"><i class="fa fa-circle-o"></i> Lễ tân</a></li>
                    <li class="@Html.IsSelected(controller: "NhanViens", action: "Index")"><a href="@lte.MVC.Pages.QLKS.Employees"><i class="fa fa-circle-o"></i> Nhân viên</a></li>
                    <li class="@Html.IsSelected(controller: "KhacHangs", action: "Index")"><a href="@lte.MVC.Pages.QLKS.Clients"><i class="fa fa-circle-o"></i> Khách hàng</a></li>
                    <li class="@Html.IsSelected(controller: "PhieuChis", action: "Index")"><a href="@lte.MVC.Pages.QLKS.Payments"><i class="fa fa-circle-o"></i> Phiếu chi</a></li>
                    <li class="@Html.IsSelected(controller: "DichVuChungs", action: "Index")"><a href="@lte.MVC.Pages.QLKS.GeneralService"><i class="fa fa-circle-o"></i> Dịch vụ chung</a></li>
                    <li class="@Html.IsSelected(controller: "Phongs", action: "Index")"><a href="@lte.MVC.Pages.QLKS.Rooms"><i class="fa fa-building"></i> Phòng</a></li>
                    <li class="@Html.IsSelected(controller: "PhieuThus", action: "Index")"><a href="@lte.MVC.Pages.QLKS.Receipts"><i class="fa fa-usd"></i> Phiếu thu</a></li>
                </ul>
            </li>*@
            @*<li class="@Html.IsSelected(controller: "/Areas/TTNhom_QLKHO/Controllers/Home") treeview">
                <a href="#">
                    <i class="fas fa-key"></i> <span>&nbsp;&nbsp;&nbsp;&nbsp;Quản Lý Cái Gì Đó</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: "Home", action: "Index")"><a href="@lte.MVC.Pages.QLKHO.Home"><i class="fas fa-user-edit"></i> Giới thiệu </a></li>
                    <li class="@Html.IsSelected(controller: "News", action: "Index")"><a href="@lte.MVC.Pages.QLKHO.News"><i class="fas fa-user-edit"></i> Tin tức - Sự kiện</a></li>
                    <li class="@Html.IsSelected(controller: "HH", action: "Index")"><a href="@lte.MVC.Pages.QLKHO.HH"><i class="fas fa-user-edit"></i> Hàng Hóa</a></li>
                    <li class="@Html.IsSelected(controller: "KH", action: "Index")"><a href="@lte.MVC.Pages.QLKHO.KH"><i class="fas fa-user-edit"></i> Khách Hàng</a></li>
                    <li class="@Html.IsSelected(controller: "DV", action: "Index")"><a href="@lte.MVC.Pages.QLKHO.DV"><i class="fas fa-user-edit"></i> Đơn Vị</a></li>
                    <li class="@Html.IsSelected(controller: "NCC", action: "Index")"><a href="@lte.MVC.Pages.QLKHO.NCC"><i class="fas fa-user-edit"></i> Nhà Cung Cấp</a></li>
                    <li class="@Html.IsSelected(controller: "PN", action: "Index")"><a href="@lte.MVC.Pages.QLKHO.PN"><i class="fas fa-user-edit"></i> Phiếu Nhập</a></li>
                    <li class="@Html.IsSelected(controller: "TTPN", action: "Index")"><a href="@lte.MVC.Pages.QLKHO.TTPN"><i class="fas fa-user-edit"></i> Thông Tin Phiếu Nhập</a></li>
                    <li class="@Html.IsSelected(controller: "PX", action: "Index")"><a href="@lte.MVC.Pages.QLKHO.PX"><i class="fas fa-user-edit"></i> Phiếu Xuất</a></li>
                    <li class="@Html.IsSelected(controller: "TTPX", action: "Index")"><a href="@lte.MVC.Pages.QLKHO.TTPX"><i class="fas fa-user-edit"></i> Thông Tin Phiếu Xuất</a></li>
                    <li><a href="http://mta.edu.vn" target="_blank"><i class="fas fa-user-edit"></i> Cổng thống tin điện tử</a></li>
                </ul>
            </li>*@
            <li class="@Html.IsSelected(controller: "/Areas/TTNhom_QLTTHPT/Controllers/Home") treeview">
                <a href="#">
                    <i class="fas fa-school"></i> <span>&nbsp;&nbsp;&nbsp;&nbsp;Quản Lý Cái gì đó</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: "Home", action: "Index")"><a href="@lte.MVC.Pages.QuanLyTTHPT.Home"><i class="fas fa-user-edit"></i> Giới Thiệu - Nội Quy </a></li>
                    <li class="@Html.IsSelected(controller: "GiaoVien", action: "Index")"><a href="@lte.MVC.Pages.QuanLyTTHPT.GiaoVien"><i class="fas fa-user-edit"></i> Quản Lý Giáo Viên</a></li>
                    <li class="@Html.IsSelected(controller: "HocSinh", action: "Index")"><a href="@lte.MVC.Pages.QuanLyTTHPT.HocSinh"><i class="fas fa-user-edit"></i> Quản Lý Học Sinh</a></li>
                    <li class="@Html.IsSelected(controller: "Diem", action: "Index")"><a href="@lte.MVC.Pages.QuanLyTTHPT.Diem"><i class="fas fa-user-edit"></i>  Quản Lý Đánh Giá Học Lực</a></li>
                    <li class="@Html.IsSelected(controller: "DiemChiTiet", action: "Index")"><a href="@lte.MVC.Pages.QuanLyTTHPT.DiemChiTiet"><i class="fas fa-user-edit"></i> Quản Lý Điểm Chi Tiết</a></li>
                    <li class="@Html.IsSelected(controller: "MonHoc", action: "Index")"><a href="@lte.MVC.Pages.QuanLyTTHPT.MonHoc"><i class="fas fa-user-edit"></i> Quản Lý Môn Học</a></li>
                    <li class="@Html.IsSelected(controller: "PhanCong", action: "Index")"><a href="@lte.MVC.Pages.QuanLyTTHPT.PhanCong"><i class="fas fa-user-edit"></i> Quản Lý Phân Công</a></li>
                    <li class="@Html.IsSelected(controller: "Lop", action: "Index")"><a href="@lte.MVC.Pages.QuanLyTTHPT.Lop"><i class="fas fa-user-edit"></i> Quản Lý Lớp</a></li>
                    <li class="@Html.IsSelected(controller: "KhoiLop", action: "Index")"><a href="@lte.MVC.Pages.QuanLyTTHPT.KhoiLop"><i class="fas fa-user-edit"></i> Quản Lý Khối Lớp</a></li>
                    <li class="@Html.IsSelected(controller: "DienUuTien", action: "Index")"><a href="@lte.MVC.Pages.QuanLyTTHPT.DienUuTien"><i class="fas fa-user-edit"></i> Quản Lý Diện Ưu Tiên</a></li>
                    <li><a href="http://mta.edu.vn" target="_blank"><i class="fas fa-user-edit"></i> Cổng thống tin điện tử</a></li>

                </ul>
            </li>
            @*<li class="@Html.IsSelected(controller: "Layout") treeview">
            <a href="#">
                <i class="fa fa-files-o"></i>
                <span>Layout Options</span>
                <span class="pull-right-container">
                    <span class="label label-primary pull-right">4</span>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@Html.IsSelected(controller: "Layout", action: "Top")"><a href="@lte.MVC.Pages.LayoutTop.Url"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                <li class="@Html.IsSelected(controller: "Layout", action: "Boxed")"><a href="@lte.MVC.Pages.LayoutBoxed.Url"><i class="fa fa-circle-o"></i> Boxed</a></li>
                <li class="@Html.IsSelected(controller: "Layout", action: "Fixed")"><a href="@lte.MVC.Pages.LayoutFixed.Url"><i class="fa fa-circle-o"></i> Fixed</a></li>
                <li class="@Html.IsSelected(controller: "Layout", action: "Collapsed")"><a href="@lte.MVC.Pages.LayoutCollapsed.Url"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller: "Widget")">
            <a href="@lte.MVC.Pages.WidgetIndex.Url">
                <i class="fa fa-th"></i> <span>Widgets</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-green">new</small>
                </span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "Chart") treeview">
            <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Charts</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@Html.IsSelected(controller: "Chart", action: "ChartJS")"><a href="@lte.MVC.Pages.ChartChartJS.Url"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                <li class="@Html.IsSelected(controller: "Chart", action: "Morris")"><a href="@lte.MVC.Pages.ChartMorris.Url"><i class="fa fa-circle-o"></i> Morris</a></li>
                <li class="@Html.IsSelected(controller: "Chart", action: "Flot")"><a href="@lte.MVC.Pages.ChartFlot.Url"><i class="fa fa-circle-o"></i> Flot</a></li>
                <li class="@Html.IsSelected(controller: "Chart", action: "Inline")"><a href="@lte.MVC.Pages.ChartInline.Url"><i class="fa fa-circle-o"></i> Inline charts</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller: "UIElement") treeview">
            <a href="#">
                <i class="fa fa-laptop"></i>
                <span>UI Elements</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@Html.IsSelected(controller: "UIElement", action: "General")"><a href="@lte.MVC.Pages.UIElementGeneral.Url"><i class="fa fa-circle-o"></i> General</a></li>
                <li class="@Html.IsSelected(controller: "UIElement", action: "Icon")"><a href="@lte.MVC.Pages.UIElementIcon.Url"><i class="fa fa-circle-o"></i> Icons</a></li>
                <li class="@Html.IsSelected(controller: "UIElement", action: "Button")"><a href="@lte.MVC.Pages.UIElementButton.Url"><i class="fa fa-circle-o"></i> Buttons</a></li>
                <li class="@Html.IsSelected(controller: "UIElement", action: "Slider")"><a href="@lte.MVC.Pages.UIElementSlider.Url"><i class="fa fa-circle-o"></i> Sliders</a></li>
                <li class="@Html.IsSelected(controller: "UIElement", action: "Timeline")"><a href="@lte.MVC.Pages.UIElementTimeline.Url"><i class="fa fa-circle-o"></i> Timeline</a></li>
                <li class="@Html.IsSelected(controller: "UIElement", action: "Modal")"><a href="@lte.MVC.Pages.UIElementModal.Url"><i class="fa fa-circle-o"></i> Modals</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller: "Form") treeview">
            <a href="#">
                <i class="fa fa-edit"></i> <span>Forms</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@Html.IsSelected(controller: "Form", action: "General")"><a href="@lte.MVC.Pages.FormGeneral.Url"><i class="fa fa-circle-o"></i> General Elements</a></li>
                <li class="@Html.IsSelected(controller: "Form", action: "Advanced")"><a href="@lte.MVC.Pages.FormAdvanced.Url"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                <li class="@Html.IsSelected(controller: "Form", action: "Editor")"><a href="@lte.MVC.Pages.FormEditor.Url"><i class="fa fa-circle-o"></i> Editors</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller: "Table") treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Tables</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@Html.IsSelected(controller: "Table", action: "Simple")"><a href="@lte.MVC.Pages.TableSimple.Url"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                <li class="@Html.IsSelected(controller: "Table", action: "Data")"><a href="@lte.MVC.Pages.TableData.Url"><i class="fa fa-circle-o"></i> Data tables</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller: "Calendar")">
            <a href="@lte.MVC.Pages.CalendarIndex.Url">
                <i class="fa fa-calendar"></i> <span>Calendar</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-red">3</small>
                    <small class="label pull-right bg-blue">17</small>
                </span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "Mailbox") treeview">
            <a href="#">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@Html.IsSelected(controller: "Mailbox", action: "Index")">
                    <a href="@lte.MVC.Pages.MailboxIndex.Url">
                        Inbox
                        <span class="pull-right-container">
                            <span class="label label-primary pull-right">13</span>
                        </span>
                    </a>
                </li>
                <li class="@Html.IsSelected(controller: "Mailbox", action: "Compose")"><a href="@lte.MVC.Pages.MailboxCompose.Url">Compose</a></li>
                <li class="@Html.IsSelected(controller: "Mailbox", action: "Read")"><a href="@lte.MVC.Pages.MailboxRead.Url">Read</a></li>
            </ul>
        </li>

        <li class="@Html.IsSelected(controller: "Example") treeview">
            <a href="#">
                <i class="fa fa-folder"></i> <span>Examples</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="@Html.IsSelected(controller: "Example", action: "Invoice")"><a href="@lte.MVC.Pages.ExampleInvoice.Url"><i class="fa fa-circle-o"></i> Invoice</a></li>
                <li class="@Html.IsSelected(controller: "Example", action: "Profile")"><a href="@lte.MVC.Pages.ExampleProfile.Url"><i class="fa fa-circle-o"></i> Profile</a></li>
                <li class="@Html.IsSelected(controller: "Example", action: "Login")"><a href="@lte.MVC.Pages.ExampleLogin.Url"><i class="fa fa-circle-o"></i> Login</a></li>
                <li class="@Html.IsSelected(controller: "Example", action: "Register")"><a href="@lte.MVC.Pages.ExampleRegister.Url"><i class="fa fa-circle-o"></i> Register</a></li>
                <li class="@Html.IsSelected(controller: "Example", action: "Lockscreen")"><a href="@lte.MVC.Pages.ExampleLockscreen.Url"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                <li class="@Html.IsSelected(controller: "Example", action: "Error404")"><a href="@lte.MVC.Pages.ExampleError404.Url"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                <li class="@Html.IsSelected(controller: "Example", action: "Error500")"><a href="@lte.MVC.Pages.ExampleError500.Url"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                <li class="@Html.IsSelected(controller: "Example", action: "BlankPage")"><a href="@lte.MVC.Pages.ExampleBlankPage.Url"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                <li class="@Html.IsSelected(controller: "Example", action: "PacePage")"><a href="@lte.MVC.Pages.ExamplePacePage.Url"><i class="fa fa-circle-o"></i> Pace Page</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-share"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Level One
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Level Two
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            </ul>
        </li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>*@
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>



