@model coderush.Areas.TTNhom_QLKS.EF.PhieuChi

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PhieuChi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MucChi.mucchi1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MucChi.mucchi1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.tenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.tenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diengiai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diengiai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tongtien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongtien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaytao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaytao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
