@model IEnumerable<coderush.Areas.TTNhom_QLKS.EF.PhieuThu_DichVuChung>
<h3 class="box-title">Các dịch vụ đi kèm</h3>
<p>
    @Html.ActionLink("Thêm dịch vụ chung", "Create", "PhieuThu_DichVuChung", new { @maPT = ViewBag.IDphieuthu }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DichVuChung.tenDVC)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PhieuThu.cmt)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hethan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tongtienDVC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="row_@item.maPT-@item.maDVC">
        <td >
            @Html.DisplayFor(modelItem => item.DichVuChung.tenDVC)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PhieuThu.cmt)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hethan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tongtienDVC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "PhieuThu_DichVuChung", new { @IDphieuthu = item.maPT, @IDdvc = item.maDVC }, null) |
            @Ajax.ActionLink("Delete", "DeleteDVC", new { @IDphieuthu = item.maPT, @IDdvc = item.maDVC }, new AjaxOptions
       {   Confirm =" Bạn có muốn xóa bản ghi này?",
           OnComplete = "$('#row_"+ @item.maPT + "-" + @item.maDVC + "').remove()",
           HttpMethod = "Delete"
       })

        </td>
    </tr>
}

</table>
